[submodule "ecuadorPerson"]
	path = ecuadorPerson
	url = https://github.com/julianest/ecuadorPerson.git
[submodule "ecuadorCtaMov"]
	path = ecuadorCtaMov
	url = https://github.com/julianest/ecuadorCtaMov.git
